<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title> R.S.K. </title>
  </head>
  <body>
    <!-- <div id="border"> -->
    <div id="home-image">
      <img id="logo" src="{{ url_for('static', filename='logo.png') }}">
      <div id="caption"><h1> Rhosneigr Swim Kloob</h1></div>
    </div>
    <div id="main-content">
      <div id='main-text'>
        <p> Welcome fellow swim kloob members, </p>
        <p>Casting aside the temptations of maritime technology, the Rhosneigr Swim Kloob offers the simple pleasure of a short dip
        in the Irish Sea’s inhospitable brine. Founded in the summer of 2019 the Swim Kloob has attracted increasing numbers of
        bathers looking to work out in the water.</p>
        <p>The timing of the swim is at the discretion of the President, Interim leader or the Substitute interim leader in that order.</p>
      </div>
      <div id="side-image">
        <p>conbtent</p>
        <!-- <img id="first-image" src="{{ url_for('static', filename='images/first_swim.jpeg') }}"> -->
      </div>
    </div>
  </body>
</html>
