<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://kit.fontawesome.com/2afcbe98dd.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <title> R.S.K. </title>
  </head>
  <body>
    <div id="home-image">
      <img id="logo" src="{{ url_for('static', filename='logo.png') }}">
      <div id="caption"><h1> Rhosneigr Swim Kloob</h1></div>
    </div>
    <div id="main-content">
      <div id='main-text'>
        <p> Welcome fellow swim kloob members, </p>
        <p>Casting aside the temptations of maritime technology, the Rhosneigr Swim Kloob offers the simple pleasure of a short dip
        in the Irish Sea’s inhospitable brine. Founded in the summer of 2019 the Swim Kloob has attracted increasing numbers of
        bathers looking to work out in the water.</p>
        <p>Following a wave of enthusiasm, the tide is turning: where once there was the RBA, now there is the RSK.</p>
      </div>
    </div>
    <div class="main-carousel" data-flickity='{ "contain": true, "wrapAround": true }'>
      {% for image in images %}
        <div class="carousel-cell"><img class="carousel-cell-image" src="{{ url_for('static', filename=image) }}" alt=""></div>
      {% endfor %}
    </div>
    <div id="footer">
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-github fa-lg"></i></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-facebook fa-lg"></i></a>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><i class="fab fa-instagram fa-lg"></i></a>
    </div>
  </body>
</html>
